* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

*,
p {
  font-family: Arial;
}

html,
body {
  max-width: 375px;
  margin: auto;
  background-color: #fafafa;
}

.tab-bar .action-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin: 0 15px;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;
}
.tab-bar .action-icon {
  width: 22px;
}

header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  width: 180px;
  height: 44px;
  border-bottom: 1px solid #262626;
}
header .following {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  width: 180px;
  height: 44px;
}

main {
  background-color: #fafafa;
}
main .time-container {
  padding: 0 16px;
  border-top: 1px solid #0000001a;
}
main .time-container .time-content {
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
main .time-container .time-content .follow-requests {
  font-size: 15px;
  color: #262626;
}
main .time-container .time-content .time-indication {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
  color: #262626;
  font-weight: 600;
  height: 46px;
}
main .time-container .time-content .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 60px;
  max-width: 100%;
  min-width: 343px;
}
main .time-container .time-content .content .profile-picture {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
main .time-container .time-content .content .content-description {
  color: #262626;
  font-size: 13px;
  max-width: 230px;
}
main .time-container .time-content .content .content-description .spotlight-text {
  font-weight: 600;
}
main .time-container .time-content .content .content-description .time {
  color: rgba(0, 0, 0, 0.4);
}
main .time-container .time-content .content .content-description .mention {
  color: #00327c;
}
main .time-container .time-content .content .post-picture {
  width: 44px;
  height: 44px;
  object-fit: cover;
  margin-left: auto;
}
main .time-container .time-content .content .interact-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 6px 15px;
}
main .time-container .time-content .content .interact-message .message {
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}
main .time-container .time-content .content .interact-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #3797ef;
  border-radius: 4px;
  padding: 6px 0px;
  width: 90px;
}
main .time-container .time-content .content .interact-follow .follow {
  font-size: 14px;
  color: white;
  font-weight: 600;
}
main .time-container .time-content .action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 13px 58px;
}
main .time-container .time-content .action .like-action {
  width: 12px;
  height: 10px;
  margin-right: 14px;
}
main .time-container .time-content .action .reply-action {
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  font-weight: 600;
}

/*# sourceMappingURL=like.css.map */
