* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

*,
p {
  font-family: Arial;
}

html,
body {
  background-color: #fafafa;
}

.tab-bar .action-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin: 0 15px;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;
}
.tab-bar .action-icon {
  width: 22px;
}

#menu-switch {
  display: none;
}

#menu-switch:checked + .menu {
  transform: translateX(33vw);
}

.menu {
  width: 67%;
  height: 100%;
  background-color: #fafafa;
  position: fixed;
  transform: translateX(101vw);
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.menu .menu-icon {
  width: 20.5px;
  height: 17.5px;
  position: absolute;
  left: -38px;
  top: 11px;
}
.menu .id {
  color: #262626;
  font-size: 15px;
  margin: 15px;
}
.menu .menu-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.menu .menu-list-container .menu-list {
  color: #262626;
  font-size: 15px;
  margin: 12px 0 12px 6px;
}
.menu .menu-list-container .icon-inside-menu {
  width: 23px;
  max-height: 20px;
  margin: 12px 6px 12px 15px;
}
.menu .settings-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  bottom: 50px;
}
.menu .settings-container .menu-list {
  color: #262626;
  font-size: 15px;
  margin: 12px 0 12px 6px;
}
.menu .settings-container .icon-inside-menu {
  width: 23px;
  max-height: 20px;
  margin: 12px 6px 12px 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f2f2f2;
  padding: 11px 0;
  width: 100%;
}
header .padlock {
  width: 8.75px;
  height: 11.75px;
}
header .profile-id {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  margin: 0 6px;
}
header .down-arrow {
  width: 10.7px;
  height: 6.2px;
}

main {
  background-color: #f2f2f2;
}
main .profile-information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
main .profile-information .profile-picture {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin: 0 20px 0 16px;
  border: 5px solid white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}
main .profile-information .infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 17px;
}
main .profile-information .infos .number {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}
main .profile-information .infos .info-description {
  color: #262626;
  font-size: 13px;
}
main .profile-description {
  padding: 12px 16px;
}
main .profile-description .author-name {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
  margin-bottom: 3px;
}
main .profile-description .description {
  font-size: 12px;
  color: #262626;
  margin: 3px 0;
}
main .profile-description .description .mention {
  color: #00327c;
}
main .edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 3px 0 15px;
}
main .edit-profile-container .edit-profile {
  cursor: pointer;
  background-color: #ffffff;
  width: 343px;
  height: 29px;
  border-radius: 6px;
  border: 1px solid rgba(60, 60, 67, 0.18);
  font-size: 13px;
  font-weight: 600;
  color: #262626;
}
main .edit-profile-container .edit-profile:focus {
  outline: none;
}
main .categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0 14px;
  padding-bottom: 15px;
}
main .categories .category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 18px;
}
main .categories .category-container .new {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #C7C7CC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3px;
}
main .categories .category-container .new .plus-icon {
  width: 18px;
  height: 18px;
}
main .categories .category-container .cetegory-description {
  font-size: 12px;
  color: #262626;
}
main .categories .category-container .category-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 3px;
}

.gallery-container {
  background-color: #fafafa;
}
.gallery-container .gallery-header {
  border-top: 1px solid #0000001a;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.gallery-container .gallery-header .photos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 186px;
  height: 44px;
  border-bottom: 1px solid #262626;
}
.gallery-container .gallery-header .photos-container .photos {
  width: 22.5px;
  height: 22.5px;
}
.gallery-container .gallery-header .photos-of-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 186px;
  height: 44px;
}
.gallery-container .gallery-header .photos-of-you-container .photos-of-you {
  width: 23.5px;
  height: 23.5px;
}
.gallery-container .galery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery-container .galery .picture {
  width: 123px;
  height: 123px;
  margin: 0.5px;
  object-fit: cover;
}

/*# sourceMappingURL=profile.css.map */
