@import "../styles.scss";

header {
    background-color: $background-secondary;
    @include simple-flex (center, center, column);
    padding-top: 10px;

    .following-you-container {
        @include simple-flex (center, center, row);
        width: 100%;
        max-width: 975px;

        .you {
            @include simple-flex (center, center, row);
            font-size: 16px;
            font-weight: 600;
            color: $text-color;
            width: 50%;
            height: 44px;
            border-bottom: 1px solid $text-color;
        }

        .following {
            @include simple-flex (center, center, row);
            font-size: 16px;
            font-weight: 600;
            color: $text-secondary-color;
            width: 50%;
            height: 44px;
        }
    }   
}

main {
    background-color: $background-primary;

    .time-container {
        padding: 0 16px;
        border-top: 1px solid #0000001a;
        box-sizing: border-box;
        width: 100%;

        .time-content {
            min-height: 48px;
            @include simple-flex (center, flex-start, column);

            .follow-requests{
                font-size: 15px;
                color: $text-color;

                @media ($desktop-breakpoint) {
                    margin: 0 auto;
                }
            }

            .time-indication {
                @include simple-flex (flex-start, center, row);
                font-size: 15px;
                color: $text-color;
                font-weight: 600;
                height: 46px;

                
                @media ($desktop-breakpoint) {
                    margin: 0 auto;
                }

            }

            .content {
                @include simple-flex (flex-start, center, row);
                min-height: 60px;
                width: 100%;
                max-width: 375px;
                margin: 0 auto;

                @media ($desktop-breakpoint) {
                    @include simple-flex (center, flex-start, column);
                    margin-top: 10px;
                }

                .org {
                    @include simple-flex (flex-start, center, row);

                    .profile-picture {
                        @include box-round (44px);
                        object-fit: cover;
                        margin-right: 12px;
                    }

                    .profile-pictures-mix {
                        width: 44px;
                        height: 44px;
                        margin-right: 12px;
                        @include simple-flex (flex-end, flex-end, row);

                        .front-profile-picture {
                            @include box-round (32px);
                            border: 2px solid $background-primary;
                            z-index: 2;
                        }

                        .back-profile-picture {
                            @include box-round (32px);
                            position: relative;
                            top: -12px;
                            left: 24px;
                        }

                    }

                    .content-description {
                        color: $text-color;
                        font-size: 13px;
                        max-width: 230px;
                        .spotlight-text {
                            font-weight: 600;
                        }

                        .time {
                            color: $text-secondary-color;
                        }

                        .mention {
                            color: rgb(0, 50, 124);
                        }

                    }
                }

                .post-picture {
                    width: 44px;
                    height: 44px;
                    object-fit: cover;
                    margin-left: auto;

                    @media ($desktop-breakpoint) {
                        width: 500px;
                        height: auto;
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }

                .interact-message {
                    @include simple-flex (center, center, row);
                    border: 1px solid $text-secondary-color;
                    border-radius: 4px;
                    padding: 6px 15px;
                    margin-left: auto;
                    .message {
                        font-size: 14px;
                        color: $text-color;
                        font-weight: 600;
                    }
                }

                .interact-follow {
                    @include simple-flex (center, center, row);
                    background-color: $highlight-color;
                    border-radius: 4px;
                    padding: 6px 0px;
                    width: 90px;
                    margin-left: auto;
                    .follow {
                        font-size: 14px;
                        color: white;
                        font-weight: 600;
                    }
                }

            }

            .action {
                @include simple-flex (flex-start, center, row);
                padding: 13px 58px;

                @media ($desktop-breakpoint) {
                    margin: 0 auto;
                }

                .like-action {
                    width: 12px;
                    height: 10px;
                    margin-right: 14px;

                    @media ($desktop-breakpoint) {
                        width: 20px;
                        height: auto;
                    }
                }

                .reply-action {
                    color: $text-secondary-color;
                    font-size: 11px;
                    font-weight: 600;

                    @media ($desktop-breakpoint) {
                        width: 30px;
                        height: auto;
                    }
                }
            }
        }
    }
}