@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./extends.scss";

*,
p {
  font-family: Arial;
}

html,
body {
  background-color: $background-primary;
}

.big-screen-header {
  width: 100%;
  max-width: 975px;
  display: none;

  @media ($desktop-breakpoint) {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .logo-img {
      width: 105px;
      height: auto;
  }
  
  .action-icon {
      @extend %action-icons;
  }

  .search-container {
      display: none;
      align-items: center;
      justify-content: center;
      background: #fafafa;
      border: solid 1px #dbdbdb;
      padding: 5px 80px;
  
      @media ($desktop-breakpoint) {
        display: flex;
      }
  
      .search-icon {
        width: 10px;
        height: 10px;
        margin-right: 6px;
      }
  
      .search-input {
        width: 70px;
        background-color: transparent;
        border: none;
        outline: none;
  
        &::placeholder {
          text-align: center;
        }
      }
    }

    
}

%action-icons {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin: 0 15px;
}


.tab-bar {
  @include simple-flex(space-between, center, row);
  width: 100%;
  background-color: $background-secondary;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;

  @media ($desktop-breakpoint) {
    @include simple-flex(space-around, center, row);
  }

  .action-icon {
    @extend %action-icons;
    width: 22px;
  }
}
